<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>테스트</h1>
    <input name="url" type="text" placeholder="url을 입력하세요." />
    <button name="submit">제출</button>
    <button name="stop">중지</button>
    <script>
      const urlInput = document.querySelector('input[name="url"]');
      const submitBtn = document.querySelector('button[name="submit"]');
      const stopBtn = document.querySelector('button[name="stop"]');
      let urlInputValue = "";
      function sendFetchRequest() {
        fetch("http://localhost:8000/submit", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ url: urlInputValue }),
        })
          .then((res) => {
            return res.json();
          })
          .then((data) => {
            console.log(data);
          })
          .catch((err) => {
            console.log(err);
          });
      }

      let intervalId;
      urlInput.addEventListener("change", (e) => {
        urlInputValue = e.target.value;
      });
      {% comment %} https://trace.cjlogistics.com/web/detail.jsp?slipno=680280908493 {% endcomment %}
      submitBtn.addEventListener("click", () => {
        intervalId = setInterval(sendFetchRequest, 1000)
      });
      stopBtn.addEventListener("click", () => {
        console.log('실행 종료!')
        clearInterval(intervalId);
      })
    </script>
  </body>
</html>
